@import url("reset.css");
@import url("font.css");

:root {
  --main-color: #5b2386;
  --main-gray: #babcbe;
  --main-yellow: #fcee21;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.img-flow-root {
  display: flow-root;
}

body {
  background-color: var(--main-color);
  color: white;
  font-weight: 400;
  font-family: "GmarketSansMedium";
}

h1 {
  height: 265px;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  margin-top: 120px;
}
.test {
  width: 100px;
}

.centering {
  margin: 0 auto;
}

.text-centering {
  text-align: center;
}

h1 .title {
  width: 564px;
  height: 112px;
  position: absolute;
  top: 76.5px;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-quote {
  margin-top: 50px;
}

.wisdom-quote {
  margin-top: 66px;
  font-family: "OTEnjoystoriesBA";
  color: var(--main-yellow);
  font-size: 2.25em;
  font-weight: 700;
}

.rule-definition {
  height: 85px;
  width: 493px;
  margin-top: 78px;
  line-height: 31px;
  font-size: 1.125em;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: center top 13px;
  background-size: contain;
}

.rule-definition strong {
  line-height: 24px;
  font-size: 1.5em;
  font-weight: bold;
}

.howmuch-form {
  margin-top: 78px;
  font-size: 1.5em;
  font-weight: 400;
}

.howmuch-form__txt + .howmuch-form__txt {
  margin-top: 27px;
}

.howmuch-form__txt input {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 7px;
  margin: 0 17px;
  width: 228px;
  height: 57px;
  color: var(--main-color);
}

.howmuch-form__txt input,
.howmuch-form__txt input::placeholder {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  font-family: "GmarketSansMedium";
}

.howmuch-form__txt input::placeholder {
  color: var(--main-gray);
}

.submit-btn-wrapper {
  margin-top: 115px;
}

.submit-btn-wrapper .click-icon {
  position: absolute;
  margin-left: 7px;
  margin-top: 14px;
}

.white-btn,
.yellow-btn {
  padding: 21px 49px;
  color: var(--main-color);
  background-color: var(--main-yellow);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "GmarketSansMedium";
  border-radius: 56px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.white-btn {
  background-color: white;
}

a.yellow-btn {
  display: inline-block;
}

.result {
  margin-top: 147px;
  margin-bottom: 130px;
  font-size: 1.5em;
}

.txt-result + .txt-result {
  margin-top: 17px;
}

.txt-result strong {
  display: inline-block;
  margin: 0 12px;
  font-size: 4.5rem;
  font-weight: bold;
  vertical-align: middle;
}

.do-more {
  margin-top: 127px;
  text-align: center;
}

.share-link {
  margin-left: 18px;
}

footer small.txt-footer {
  display: block;
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Noto Sans KR";
  line-height: 17px;
}

.cheerup-modal {
  display: inline-block;
  min-width: 800px;
  min-height: 800px;
  margin-bottom: 100px;
  padding-top: 76px;
  box-sizing: border-box;
  text-align: center;
  color: var(--main-color);
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.cheerup-modal .yellow-btn {
  margin-top: 74px;
}

.cheerup-modal .cheerup-comments {
  font-family: "OTEnjoystoriesBA";
  font-weight: 700;
  font-size: 2.25rem;
}

.cheerup-modal .cheerup-comments strong {
  font-size: 6rem;
  line-height: 106px;
}

.cheerup-modal .cheerup-comments span {
  display: block;
  margin-top: 7px;
  line-height: 40px;
}

.cheerup-modal .cheerup-comments {
  margin-bottom: 29px;
}
