@import url("reset.css");
@import url("font.css");

:root {
  --main-color: #5b2386;
  --main-gray: #babcbe;
  --main-yellow: #fcee21;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.img-flow-root {
  display: flow-root;
}

.centering {
  margin: 0 auto;
}

.text-centering {
  text-align: center;
}

body {
  background-color: var(--main-color);
  color: white;
  font-weight: 400;
  font-family: "GmarketSansMedium";
}

h1 {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  margin-top: 120px;
}

h1 .title {
  width: 564px;
  height: 112px;
  position: absolute;
  top: 76.5px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 780px) {
  h1 {
    margin-top: 41px;
  }
  h1 .title {
    top: 36.5px;
    width: 267px;
    height: 53px;
  }
  h1 .title-background {
    width: 125px;
    height: 126px;
  }
}

.wisdom-quote {
  margin-top: 66px;
  font-family: "OTEnjoystoriesBA";
  color: var(--main-yellow);
  font-size: 2.25rem;
  font-weight: 700;
}

@media (max-width: 780px) {
  .wisdom-quote {
    margin-top: 31px;
    font-size: 1.375rem;
  }
}

.rule-definition {
  height: 85px;
  width: 493px;
  margin-top: 78px;
  line-height: 1.9375rem;
  font-size: 1.125em;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: center top 13px;
  background-size: contain;
}

.rule-definition dfn {
  line-height: 24px;
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 780px) {
  .rule-definition {
    height: 68px;
    width: 290px;
    margin-top: 62px;
    font-size: 0.875rem;
    line-height: 1.8rem;
    background-image: url("../img/quotes_mobile.png");
    background-size: 302px;
    background-position: center top 24px;
    /* 추후 수정 필요 */
  }
  .rule-definition dfn {
    font-size: 1rem;
    line-height: 16px;
  }
}

.howmuch-form {
  margin-top: 78px;
  font-size: 1.5em;
  font-weight: 400;
}

.howmuch-form__txt + .howmuch-form__txt {
  margin-top: 27px;
}

.howmuch-form__txt input {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 7px;
  margin: 0 17px;
  width: 228px;
  height: 57px;
  color: var(--main-color);
}

.howmuch-form__txt input:focus {
  outline: none;
}

.howmuch-form__txt input,
.howmuch-form__txt input::placeholder {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  font-family: "GmarketSansMedium";
}

.howmuch-form__txt input::placeholder {
  color: var(--main-gray);
}

@media (max-width: 780px) {
  .howmuch-form {
    font-size: 0.875rem;
  }
  .howmuch-form__txt input {
    margin: 0 4px;
    width: 156px;
    height: 37px;
  }
  .howmuch-form__txt + .howmuch-form__txt {
    margin-top: 17px;
  }
  .howmuch-form__txt + .howmuch-form__txt span {
    display: block;
    margin-bottom: 19px;
  }
}

.submit-btn-wrapper {
  margin-top: 115px;
}

.submit-btn-wrapper .click-icon {
  position: absolute;
  margin-left: 7px;
  margin-top: 14px;
}

.white-btn,
.yellow-btn {
  padding: 21px 49px;
  color: var(--main-color);
  background-color: var(--main-yellow);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "GmarketSansMedium";
  border-radius: 56px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 780px) {
  .white-btn,
  .yellow-btn {
    padding: 13.5px 17.5px 12.5px 17.5px;
    font-size: 0.875rem;
  }
  .mobile-square-btn {
    border-radius: 13px;
    padding: 19px 36.5px 17px 36.5px;
    width: 241px;
    box-sizing: border-box;
  }
  .mobile-square-btn span {
    display: inline-block;
    line-height: 18px;
  }
  .submit-btn-wrapper {
    margin-top: 49px;
    margin-left: 56px;
    margin-right: 63px;
  }
  .submit-btn-wrapper .click-icon {
    position: absolute;
    margin-left: 6px;
    margin-top: 30px;
  }
}

.white-btn {
  background-color: white;
}

a.yellow-btn {
  display: inline-block;
}

.result {
  margin-top: 147px;
  margin-bottom: 130px;
  font-size: 1.5rem;
}

.txt-result + .txt-result {
  margin-top: 17px;
}

.txt-result strong {
  display: inline-block;
  margin: 0 12px;
  font-size: 4.5rem;
  font-weight: bold;
  vertical-align: middle;
}

.do-more {
  margin-top: 127px;
  text-align: center;
}

.share-link {
  margin-left: 18px;
}

@media (max-width: 780px) {
  .result {
    margin-top: 64px;
    margin-bottom: 83px;
    font-size: 0.875rem;
  }
  .txt-result + .txt-result {
    margin-top: 15px;
  }
  .txt-result strong {
    margin: 0 8px;
    font-size: 1.5rem;
  }
  .do-more {
    margin-top: 55px;
  }
}

footer small.txt-footer {
  display: block;
  margin-top: 20px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Noto Sans KR";
  line-height: 17px;
}

@media (max-width: 780px) {
  footer small.txt-footer {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 0.5625rem;
    line-height: 0.8125rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

.cheerup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 800px;
  min-height: 800px;
  margin-bottom: 100px;
  padding-top: 76px;
  padding-bottom: 68px;
  box-sizing: border-box;
  text-align: center;
  color: var(--main-color);
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.cheerup-modal .yellow-btn {
  margin-top: 74px;
}

.cheerup-modal .cheerup-comments {
  font-family: "OTEnjoystoriesBA";
  font-weight: 700;
  font-size: 2.25rem;
}

.cheerup-modal .cheerup-comments strong {
  font-size: 6rem;
  line-height: 106px;
}

.cheerup-modal .cheerup-comments span:not(.hide-heart) {
  display: block;
  margin-top: 7px;
  line-height: 40px;
}
.licat-cheering {
  margin: auto;
}

.cheerup-modal .cheerup-comments {
  margin-bottom: 29px;
}

@media (max-width: 780px) {
  .cheerup-modal {
    min-width: 330px;
    min-height: 500px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cheerup-modal .yellow-btn {
    margin-top: 74px;
    width: 241px;
    padding: 19px 45px 17px 45px;
  }
  .cheerup-modal .cheerup-comments {
    font-size: 2.25rem;
  }
  .cheerup-modal .cheerup-comments strong {
    font-size: 4rem;
    line-height: 70px;
  }
  .cheerup-modal .cheerup-comments span {
    margin-top: -4px;
  }
  .licat-cheering {
    width: 259.8px;
    height: 202.2px;
  }
  .hide-heart {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
}

.blur-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.modal-wrapper {
  display: none;
}
